# {{ ansible_managed }}
{# one domain, no reason for multiple at time of writing #}
[domain/{{ system_ldap_domain }}]
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
autofs_provider = ldap

{# connection configuration #}
ldap_schema = {{ system_ldap_schema }}
ldap_uri = {{ system_ldap_uris | join(',') }}
ldap_tls_cacertdir = /etc/ssl/certs
ldap_tls_cacert = /etc/ssl/certs/{{ system_ldap_cacert }}
ldap_id_use_start_tls = True

{# search configuration #}
ldap_search_base = {{ system_ldap_search_base }}
ldap_default_bind_dn = {{ system_ldap_bind_dn }}
ldap_default_authtok_type = password
ldap_default_authtok = {{ system_ldap_bind_password }}
cache_credentials = True
ldap_referrals = False

{# filter configuration #}
{% if system_ldap_group_search_filter %}
ldap_group_search_filter = {{ system_ldap_group_search_filter }}
{% endif %}
{% if system_ldap_user_search_filter %}
ldap_user_search_filter = {{ system_ldap_user_search_filter }}
{% endif %}
{% if system_ldap_group_search_base %}
ldap_group_search_base = {{ system_ldap_group_search_base }}
{% endif %}
{% if system_ldap_user_search_base %}
ldap_user_search_base = {{ system_ldap_user_search_base }}
{% endif %}

ldap_access_filter = (&(!(userAccountControl:1.2.840.113556.1.4.803:=2))(|{{ system_ldap_access_filter_groups | map('regex_replace', '^(?P<ldap_group>.*)$', '(memberOf=\\g<ldap_group>)') | join('') }}{{ system_ldap_access_filter_users | map('regex_replace', '^(?P<ldap_user>.*)$', '(sAMAccountName=\\g<ldap_user>)') | join('') }}))

{# mapping/attribute configuration #}
{% if system_ldap_schema == "ad" %}
case_sensitive = {{ system_ldap_case_sensitive }}
ldap_user_name = {{ system_ldap_user_name }}
ldap_user_principal = {{ system_ldap_user_principal }}
ldap_user_gecos = {{ system_ldap_user_gecos }}
ldap_user_object_class = {{ system_ldap_user_object_class }}
ldap_group_name = {{ system_ldap_group_name }}
ldap_group_object_class = {{ system_ldap_group_object_class }}
ldap_user_uid_number = {{ system_ldap_user_uid_number }}
ldap_user_gid_number = {{ system_ldap_user_gid_number }}
ldap_group_gid_number = {{ system_ldap_group_gid_number }}
ldap_pwd_policy = {{ system_ldap_pwd_policy }}
default_shell = /bin/bash
fallback_homedir = /home/%u
{% endif %}
krb5_realm = {{ system_ldap_krb5_realm | default(system_ldap_domain, true) }}

{% if system_ldap_tls_reqcert %}
ldap_tls_reqcert = {{ system_ldap_tls_reqcert }}
{% endif %}

[sssd]
services = nss, pam, autofs
config_file_version = 2

domains = {{ system_ldap_domain }}

[nss]
homedir_substring = /home

[pam]

[sudo]

[autofs]

[ssh]

[pac]

[ifp]

